<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELearn</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
    <!-- Fontawesome Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  </head>
    <body>
        <header>
            <nav class="navbar">
                <h2 class="logo"><a href="{% url 'students:home' %}">ELearn</a></h2>
                <ul class="all-links">
                    <li id="username"><span>Hello,  {{request.user}}</span></li>
                    <li><a href="">Settings</a></li>
                    <li><a href="">Logout</a></li>
                    <li id="bell-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M4 19v-2h2v-7q0-2.075 1.25-3.688T10.5 4.2v-.7q0-.625.438-1.063T12 2q.625 0 1.063.438T13.5 3.5v.7q2 .5 3.25 2.113T18 10v7h2v2H4Zm8 3q-.825 0-1.413-.588T10 20h4q0 .825-.588 1.413T12 22Z"/></svg>
                    </li>                
                </ul>
            </nav>
        </header>
        <div id="contentwrapper">
            <div id="content">
                <div id="classtitle"><h2>{{my_class.class_name}}</h2></div>
                <div id="tagwrapper">
                    <a class="tags" href="{% url 'students:discussion' courseId %}">Discussions</a>
                    <a class="tags" href="">Content</a>
                    <a class="tags" href="{% url 'students:quizHub' courseId %}">Quizes</a>
                    <span>{{courseId}}</span>
                </div>
            </div>
        </div>

        <script>
            const csrfToken = "{{ csrf_token }}";
        </script>
        <script src="{% static 'js/course.js' %}"></script>
    </body>
</html>